:global {
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header {
  border-bottom: 1px solid lightgray;
  margin: 0;
  padding: 0.25em;
  background-color: black;
  color: white;
}

.GroupList {
  border-right: 1px solid lightgray;
  width: 25%;
}

.ContactList {
  width: 75%;
}
